<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>
        Nom : 
        <input type="text" class="form-control" placeholder="Entrez votre nom" [(ngModel)]="user.Name" name="name" ngModel required>
    </label>
  </div>
   <div class="form-group">
    <label>
        Prénom
        <input type="text" class="form-control" placeholder="Entrez votre prénom" [(ngModel)]="user.Surname" required>
    </label>
  </div>
  <div class="form-group">
      <label>
          Adresse
          <input type="text" class="form-control" placeholder="Entrez votre adresse" [(ngModel)]="user.Address" required>
      </label>
  </div>
  <div class="form-group">
      <label>
          Code postal
          <input type="text" class="form-control" placeholder="Entrez votre code postal" [(ngModel)]="user.PostalCode" required>
      </label>
  </div>
  <div class="form-group">
      <label>
            Ville
          <input type="text" class="form-control" placeholder="Entrez votre ville" [(ngModel)]="user.City" required>
      </label>
  </div>
  <div class="form-group">
      <label>
          Téléphone Mobile
          <input type="tel" class="form-control" placeholder="Entrez votre numéro de téléphone mobile" [(ngModel)]="user.MobilePhone" required>
      </label>
  </div>
  <div class="form-group">
      <label>
          Adresse E-mail
          <input type="email" class="form-control" placeholder="Entrez votre adresse e-mail" [(ngModel)]="user.Mail" required>
      </label>
  </div>
  <div class="form-group">
      <label>
          Civilité
          <select class="form-control">
              <option value>Monsieur</option>
              <option value>Madame</option>
          </select>
      </label>
  </div>
  <div class="form-group">
    <label>
      Pays
      <input type="text" class="form-control" placeholder="Entrez votre pays" [(ngModel)]="user.City" required>
    </label>
  </div>
  <div class="form-group">
      <label>
          Identifiant
          <input type="text" class="form-control" placeholder="Entrez votre identifiant" [(ngModel)]="user.Login" required>
      </label>
  </div>
  <div class="form-group">
      <label>
          Mot de passe
          <input type="password"  id="pass" class="form-control" 
          [(ngModel)]="user.Password" required>
      </label>
  </div>
  <div class="form-group" >
      <label>
          Confirmation du mot de passe
          <input type="password" id="passConfirm" class="form-control" required [(ngModel)]="user.PasswordConfirm">
      </label>
  </div>
  <button type="submit" class="btn btn-primary">Envoyer le formulaire</button>

</form>