
<form [formGroup]="compteForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label>
          Nom
          <input type="text" appNoNumberValidator class="form-control" formControlName="name" placeholder="Entrez votre nom" >
      </label>
      <div *ngIf="name.invalid && name.errors.number">
        <p class="has-error">Votre nom ne peut pas contenu de numéro.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
          Prénom
          <input type="text" appNoNumberValidator class="form-control" formControlName="surname"  placeholder="Entrez votre prénom" >
      </label>
       <div *ngIf="surname.invalid && surname.errors.number">
        <p class="has-error">Votre prénom ne peut pas contenu de numéro.</p>
      </div>
  </div>
  <div class="form-group">
      <label>
          Adresse
          <input type="text" class="form-control" formControlName="address"  placeholder="Entrez votre adresse" >
      </label>
  </div>
  <div class="form-group">
      <label>
          Code postal
          <input type="text" class="form-control" formControlName="postalCode"  placeholder="Entrez votre code postal" >
      </label>
  </div>
  <div class="form-group">
      <label>
            Ville
          <input type="text" appNoNumberValidator class="form-control" formControlName="city"  placeholder="Entrez votre ville" >
      </label>
  </div>
  <div class="form-group">
      <label>
          Téléphone Mobile
          <input type="tel" class="form-control" formControlName="mobilePhone"  placeholder="Entrez votre numéro de téléphone mobile"  >
      </label>
  </div>
  <div class="form-group">
      <label>
          Adresse E-mail
          <input type="email"  class="form-control" formControlName="mail"  placeholder="Entrez votre adresse e-mail" >
      </label>
  </div>
  <div class="form-group">
      <label>
          Civilité
          <select class="form-control" formControlName="gender" >
              <option value>Monsieur</option>
              <option value>Madame</option>
          </select>
      </label>
  </div>
  <div class="form-group">
    <label>
      Pays
      <input type="text" appNoNumberValidator class="form-control" formControlName="country" placeholder="Entrez votre pays">
    </label>
  </div>
  <div class="form-group">
      <label>
          Identifiant
          <input type="text" class="form-control" formControlName="login"  placeholder="Entrez votre identifiant" >
      </label>
  </div>
  <div class="form-group">
      <label>
          Mot de passe
          <input type="password"  id="pass" formControlName="password"  class="form-control" >
      </label>
  </div>
  <div class="form-group" >
      <label>
          Confirmation du mot de passe
          <input type="password" id="passConfirm" formControlName="passwordConfirm"  class="form-control" >
      </label>
  </div>


  <button type="submit"  class="btn btn-primary" [disabled]="!compteForm.valid">Submit</button>

  <button (click)="test()">test</button>
</form>